.example-spacer {
    flex: 1 1 auto;
  }
  .fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ajusta el z-index según sea necesario */
  }
  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
  }
  .sidenav{
    width: 300px; 
  }
  .centrado {
    text-align: center;
    margin-top: 20px;
  }
  .main-content {
    margin-top: 64px; /* Ajusta este valor según el tamaño de tu barra de herramientas */
  }