
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" position="end" class="sidenav">
    <div class="centrado">
      <h4>Menu</h4>
    </div>
    <mat-nav-list>
        <a mat-list-item routerLink="ventas">Ventas</a>
        <a mat-list-item routerLink="compras">Compras</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <mat-toolbar color="primary" class="fixed-top">
      <mat-toolbar-row>
        <span>Intranet Corpac</span>
        <span class="example-spacer"></span>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
          (click)="sidenav.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar> 
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
